    <meta charset="utf-8">
    <title><%= data.default.title %></title>
    <meta name="author" content="<%= data.default.copyright %>">
    <meta name="description" content="<%= data.default.description %>">
    <meta name="keywords" content="<%= data.default.keywords %>">
    <!--ogp-->
    <meta property="og:title" content="<%= data.default.og_title %>">
    <meta property="og:type" content="<%= data.default.og_type %>">
    <meta property="og:description" content="<%= data.default.title %>">
    <meta property="og:url" content="<%= data.default.site_url %>">
    <meta property="og:image" content="<%= data.default.og_img %>">
    <meta property="og:site_name" content="<%= data.default.site_title %>">
    <meta property="og:locale" content="<%= data.default.og_locale %>">
    <meta property="fb:admins" content="<%= data.default.fb_admins %>">
    <meta property="fb:app_id" content="<%= data.default.fb_app_id %>">
    <!--/ogp-->
    <!--twitter card-->
    <meta property="twitter:card" content="<%= data.default.twitter_type %>">
    <meta property="twitter:site" content="<%= data.default.site_title %>">
    <meta property="twitter:title" content="<%= data.default.title %>">
    <meta property="twitter:description" content="<%= data.default.description %>">
    <meta property="twitter:image" content="<%= data.default.og_img %>">
    <meta property="twitter:url" content="<%= data.default.site_url %>">
    <!--/twitter card-->
    <link rel="shortcut icon" href="/icon/favicon.ico">
    <link rel="canonical" href="<%= data.default.canonical %>">